<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Witter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="css/alertify.min.css">
    <link rel="stylesheet" href="css/themes/default.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://kit.fontawesome.com/5a6497da12.js"></script>
    <script src="js/alertify.min.js"></script>
    <script src="js/index.js"></script>
</head>

<body class="bg-dark">
    <div id="app">
        <header class="sitio-header fixed-top">
            <nav class="navbar">
                <img src="../server/uploads/logo.png" alt="" class="logo rounded-circle">
                <div class="encabezado justify-content-end">
                    <p class="nombre">{{ usuario.nombre }}</p>
                    <img v-bind:src="usuario.url" alt="" class="usuario rounded-circle">
                    <a href="#" @click="logout" class="icono"><i class="fas fa-sign-out-alt"></i></a>
                </div>
            </nav>
        </header>
        <section class="cuerpo mt-5">
            <div class="row">
                <div class="col"></div>
                <div class="col-6">
                    <h1 class="titulo">Witter</h1>
                    <div class="input-group mb-3">
                        <input v-model="busqueda" type="text" class="form-control" placeholder="Buscar">
                        <div class="input-group-append">
                            <button class="btn btn-outline boton btn-segundo" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                    <main class="witts">
                        <witter v-for="witte in wittes" v-bind:witte="witte"></witter>
                    </main>
                </div>
                <div class="col"></div>
            </div>
        </section>
        <footer class="wittear fixed-bottom p-4">
            <div class="input-group mb-3">
                <input @keyup.enter="publicar()" v-model="witte"  type="text" class="form-control" placeholder="¿Qué estas pensando?">
                <div class="input-group-append">
                    <button @click="publicar()" class="btn btn-outline boton btn-principal" type="button"><i class="fas fa-paper-plane"></i></button>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>